*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #e7e7e7;
    overflow-x: hidden;
}

:root{
    --green: #5CA720;
    --black: #161616;
    --grey: #A5A1A1;  /*lines*/
    --gray: #F9F9F9;  /*footer*/
}

.icon{
    width: 1rem;
    cursor: pointer;
}

/*.icon:hover{
 stroke: black;
}*/

#logo{
    width: 4rem;
}


/*Header*/

header{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 1rem ;
    height: 5.125rem;
}


nav ul { 
    display: flex;
    gap: 1rem;
    align-items: center;
}

#banner{
    margin: 0 auto;
    width: 90vw;
    overflow: hidden;
}

#banner img{
    object-fit: cover;
    width: 90vw;
    transform:scale(1.72) ;
}


/*main*/
main{
    width: 90vw;
    margin: 1.5rem auto 0 auto;
}

#info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 1rem ;
    border-bottom: 1px solid var(--grey);
}

#products{
    margin-top: 1rem;
    padding: .3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}


.product-box img{
    Width:7.903rem;
    Height:7.903rem;
    object-fit: cover;
}

.product-box span{
    color: var(--green);
}

.product-box :nth-child(2){
    font-size: 0.75rem;
    padding: .2rem 0;
}

.product-box :nth-child(3){
    font-size: 0.875rem;
}


/*Footer*/

footer{
width: 90vw;
margin: 0 auto;
padding: 2.188rem 1rem 1.933rem 1rem ;
border-top: 1px solid var(--grey);
}

#footer-info p{
    margin-bottom: .3rem;
    font-weight: 700;
    font-size: 0.875rem;
    cursor: pointer;
    transition: 0.5s ease;
}


#footer-info p:hover{
    color: var(--green);
}

#newsletter{
    margin: 3.375rem auto 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 3.375rem;
}

#newsletter label{
    font-weight: bold;
    font-size: 0.875rem;
    margin-bottom: 1.063rem;
}

input{
    width: 21.625rem;
    height: 2.688rem;
    border: 1px solid var(--grey);
    padding-left: 1rem;
    margin-right: 2rem;
}

button{
    width: 21.625rem;
    height: 2.688rem;
    background-color: var(--green);
    font-weight: 700;
    color: var(--gray);
    margin-top: 1.063rem;
    margin-right: 2rem;
    cursor: pointer;
    transition: .5s ease;
    border-radius: 4px;
}

button:hover{
    background-color: #3f8d00;
}

/*footer*/

#contant-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials{
    margin-top: 1.688rem;
    display: flex;
    gap: 1rem;
}

.socials img{
    width: 2rem;
}