* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
  font-family: "Lato", sans-serif;
}
body {
  background-color: #e7e7e7;
  overflow-x: hidden;
}

:root {
  --green: #5ca720;
  --black: #161616;
  --grey: #a5a1a1; /*lines*/
  --gray: #f9f9f9; /*footer*/
}

.icon {
  width: 1rem;
  cursor: pointer;
}

/*.icon:hover{
 stroke: black;
}*/

#logo {
  width: 4rem;
}

/*Header*/

header {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  height: 5.125rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#banner {
  margin: 0 auto;
  width: 90vw;
  overflow: hidden;
}

#banner img {
  object-fit: cover;
  width: 90vw;
  transform: scale(1.72);
}

/*main*/
main {
  width: 90vw;
  margin: 1.5rem auto 0 auto;
  border-bottom: 1px solid var(--grey);
}

#info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid var(--grey);
}

#products {
  margin-top: 1rem;
  padding: 0.3rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-box img {
  width: 7.903rem;
  height: 7.903rem;
  object-fit: cover;
}

.product-box span {
  color: var(--green);
}

.product-box :nth-child(2) {
  font-size: 0.75rem;
  padding: 0.2rem 0;
}

.product-box :nth-child(3) {
  font-size: 0.875rem;
}

/*Footer*/

footer {
  width: 90vw;
  margin: 0 auto;
  padding: 2.188rem 0 1.933rem 0;
}

#more-info{
  padding: 0 1rem 2.188rem 1rem;
}

#infobox p {
  font-weight: 700;
  transition: .5s ease;
  cursor: pointer;
}

#infobox p:hover{
  color: var(--green);
}

#input-box{
  margin-top: 1rem;
}

#input-box p {
  font-weight: 700;
  margin-bottom: 1rem;
}

input{
  width: 24rem;
  height: 2.5rem;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid var(--grey);
  position: relative;
}

button{
  height: 2.5rem;
  background-color: var(--green);
  border-radius: 6px;
  width:24rem ;
  color: white;
  font-weight: 700;
  transition: .5s ease;
  cursor: pointer;
  margin-top: 0.6rem;
}

button:hover{
  background-color: #3b8002;
}

#social{
  margin-top: 1rem;
  padding: 1rem 1rem 0 1rem;
  border-top: 1px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#socials img, #payment img{
  width: 1.8rem;
}

#socials, #payment{
  display: flex;
  align-items: center;
  gap: 1rem;
}


 

@media (min-width: 768px){


  #logo{
    width: 5.705rem;
  }

  .icon{
    width: 1.50rem;
  }

  .product-box{
    margin-bottom: 4rem;
  }

  .product-box img{
    width: 18.938rem;
    height: 18.938rem;
  }

  #contact-icons{
    gap: 2rem;
  }

  .product-box :nth-child(2) {
    font-size: 1.375rem;
  }
  
  .product-box :nth-child(3) {
    font-size: 1.25rem;
  }

  h4{
    font-size: 1.25rem;
  }

  h6{
    font-size: 1.125rem;
  }

  #more-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }


  input{
    width: 15rem;
    height: 2.5rem;
    padding-left: 10px;
    border-radius: 7px 0 0 7px;
    border: 1px solid var(--grey);
  }

  #input{
    margin-top: 0;
    display: flex;
  }

  button{
    height: 2.5rem;
    background-color: var(--green);
    border-radius: 0px;
    width:6rem ;
    color: white;
    font-weight: 700;
    transition: .5s ease;
    cursor: pointer;
    margin-top: 0;
  }

  button:hover{
    background-color: #3b8002;
  }

}